<br>
{{#each this}}
<div class="card">
    <div class="card-body">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Please enter your comment to this post below:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2">
              {{comment_body}}
          </textarea>
            <a>By {{user.name}}</a>
        </div>
        <a href="#" class="btn btn-primary">Submit comment</a>
    </div>
</div>
</div>
{{/each}}
<br>