<div class="card">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/post/{{id}}">{{post_name}}</a>
        <a class="navbar-brand">Posted by {{user.name}}</a>
    </nav>
    <div class="card-body">
        <p class="card-text">{{post_body}}</p>
    </div>
</div>