<br>
<div class="container">
    <div class="card">
        <div class="card-header" style="font-weight: bolder; font-size: x-large;">
            Your Dashboard
        </div>
        <div class="card-body">
            <a href="/dashboard/add" class="btn btn-primary">Add post</a>
        </div>
    </div>
    <br>
    {{#if posts.length}}

    {{#each posts as |post|}}
    {{> postLayout post}}

    <a href="/dashboard/edit/{{post.id}}" class="btn btn-primary">Edit post</a>
    {{!-- <button type="button" class="button delete-post-button">Delete</button> --}}
    {{/each}}
    {{else}}
    <h6>You have no posts</h6>
    {{/if}}
</div>


{{!--
<script src="/js/delete-post.js"></script> --}}