<div class="card">
    <div class="card-header" style="font-weight: bolder; font-size: x-large;">
        Your Dashboard
    </div>
    <div class="card-body">
        <a href="#" class="btn btn-primary">Add a post</a>
    </div>
</div>