<div class="card">
    <div class="card-header" style="font-weight: bolder;">
        Login
    </div>
    <div class="card-body">
        <form class="login-form">
            <div class="row">
                <div class="col">
                    <input id="#email-login" type="text" class="form-control" placeholder="Email">
                </div>
                <div class="col">
                    <input id="#password-login" type="text" class="form-control" placeholder="Password">
                </div>
                <a id="login-button" href="#" class="btn btn-primary" style="margin-right: 10px;">Login</a>
            </div>
        </form>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header" style="font-weight: bolder;">
        Signup
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col">
                    <input id="username-signup" type="text" class="form-control" placeholder="Username">
                </div>
                <div class="col">
                    <input id="email-signup" type="text" class="form-control" placeholder="Email">
                </div>
                <div class="col">
                    <input id="password-signup" type="text" class="form-control" placeholder="Password">
                </div>
                <a id="signup-button" href="#" class="btn btn-primary" style="margin-right: 10px;">Signup</a>
            </div>
        </form>
    </div>
</div>