{{#each posts as |post| }}
<div class="row row-cols-1 row-cols-md-1">
    <div class="col mb-4">
        <div class="card">
            <div class="card-header">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/post/{{ post.id }}">{{ post.name}}</a>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link">Created by {{post.username}}</a>
                            </li>
                            <li class="nav-item">
                                {{!-- Need to figure out post date --}}
                                <a class="nav-link">Posted on {{}}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="card-body">
                <p class="card-text">{{post_body}}</p>
            </div>
            {{/each}}